.reviews {
    &-swiper {
        padding-top: 1.5rem;
    }

    &__button {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        transform: none;
        margin: 0;
        width: 50px;
        height: 50px;
        background: $green;
        border-radius: 50%;
        box-shadow: 5px 5px 15px $green;

        &:after {
            font-size: 1.25rem;
            color: #fff;
        }
    }
    &__navigation {
        display: flex;
        flex-direction: row-reverse;
        gap: 0 1rem;
        padding-bottom: 1rem;
        position: static;
        
    }
    .swiper-slide {
        height: 100%;
    }

}

@keyframes aa {
    from {
        background-size: 100% auto;
    } to {
        background-size: 200% auto;
    }
}

.review {

    padding: 1.5em;
    height: 100%;
    border: 1px solid currentColor;

    .swiper-slide-active & {
        animation: aa 1000ms 400ms forwards;
    }
    &__rating {
        margin-bottom: 1.5rem;
    }
    &__text {
        margin-bottom: 2rem;
    }
    &__name {
        font-weight: 700;
        text-align: right;
        font-style: italic;
        &::before {
            content: "”";
            font-size: 1.5rem;
            font-family: 'Georgia', serif;
        }
    }

    
}

.rating {
    &__star {
        color: #fbc321;
    }
}